.slider-container {
  position: relative;
  width: 300px;
  margin: 50px auto;
}

.slider {
  width: 100%;
}

.circle-blocker {
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all; /* blocks clicks */
  z-index: 9999; /* sits above everything */
  cursor: grab;
}
