@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  background: #8b0000;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(139, 0, 0, 0.5);
}

input[type='range']::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #8b0000;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px rgba(139, 0, 0, 0.5);
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #a00000;
}

input[type='range']::-moz-range-thumb:hover {
  background: #a00000;
}
